.odd {
    background-color: #ff1100;
    font-family: 'Verdana', 'DejaVu Sans' , 'sans-serif';
}

#second {
    color: #1111dd;
    font-size:36px;
}

.third {
    font-size : 24px ;
}

#fourth {
    background-color: #339933;
    font-size: 24px;
    font-weight: bold;
}