body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  margin: 20px 40px 20px 60px;
  padding-left: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 60px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 10px 40px 10px 10px;
  margin-left: auto;
}